.add-title{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.form-container {
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    max-width: 900px;
    margin: 30px auto;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.btn-cancel {
    padding: 10px 25px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: #eee;
    cursor: pointer;
}
.btn-cancel:hover{
    background-color: #999;
    transform: translateY(-2px);
}

.btn-submit {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.btn-submit:hover{
    background-color: #333;
    transform: translateY(-2px);
}