
.cart-page {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin-top: 180px;
    margin-bottom: 180px;
    align-items: center;
}

.cart-title {
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}

.cart-container {
    width: 85%;
    max-width: 1200px;
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    padding: 30px;
}

.cart-columns,
.cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.8fr;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #ececec;
    text-align: center;
}


/* Column Title Alignment */
.cart-columns span:first-child {
    text-align: left;
    padding-left: 95px; /* align with product image */
}

/* Product Info Layout */
.cart-product {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.cart-img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

/* Price Column */
.cart-price {
    font-size: 18px;
    font-weight: 200;
}

/* Quantity Buttons */
.cart-qty {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.qty-btn {
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
    background: #eee;
    border-radius: 8px;
}

.qty-btn:hover {
    background: #ddd;
}

/* Remove button */
.remove-btn {
    background: #e53f3f;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.remove-btn:hover {
    background: #c53030;
}

/* Total Area */
.cart-total {
    text-align: right;
    margin-top: 25px;
    font-size: 22px;
    font-weight: 700;
}

.payment-btn {
    margin-top: 25px;
    padding: 10px 25px;
    background: #000;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
}

.payment-btn:hover {
    background: #333;
    transform: scale(1.05);
}

.empty-cart {
    margin-top: 50px;
    font-size: 20px;
    color: #777;
}

.cart-product-name {
    font-size: 18px;
    font-weight: 200; 
}

.cart-info {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: left;   
}