/* Search Modal */
/* Modal */

.search-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.95);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Container */
.search-box {
    width: 800px;
    background: #fff;
    padding: 40px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 0 15px #ddd;
}

.search-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 28px;
    cursor: pointer;
}

/* Form Layout */
.search-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.filter-label {
    width: 120px;
    padding: 10px;
    background: #ccc;
    border-radius: 25px;
    font-weight: 600;
}

.filter-input {
    flex: 1;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.price-box {
    flex: 1;
    display: flex;
    gap: 10px;
}

.price-input {
    width: 48%;
}

.price-separator {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

/* Buttons */
.search-actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-btn, .clear-btn {
    width: 200px;
    padding: 14px;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.search-btn {
    background: #000;
    color: #fff;
}

.clear-btn {
    background: #ccc;
    color: #000;
}

.search-btn:hover {
    opacity: .8;
    transform: translateY(-4px);
}

.clear-btn:hover {
    opacity: .8;
    transform: translateY(-4px);
}