<!-- Footer -->

<footer class="site-footer" id="site-footer">
    <div class="footer-inner">
        <div class="footer-location">
            <h3 class="footer-heading">EYE TEST LAB</h3>
            <p class="footer-text">
                เลขที่ 392/17 ซอยสยามสแควร์ ซอย 5<br>
                แขวงปทุมวัน เขตปทุมวัน กรุงเทพฯ 10330
            </p>
        </div>

        <!-- Divider line (vertical) -->
        <div class="footer-divider"></div>
        <!-- Column 2 -->
        <div class="footer-col footer-location">
            <h3 class="footer-heading">OPHTUS STUDIO</h3>
            <p class="footer-text">
                อาคาร One Bangkok Tower 4 ห้อง 2601-2602 ชั้น 26<br>
                ถนนวิทยุ แขวงลุมพินี เขตปทุมวัน กรุงเทพมหานคร 10330
            </p>
        </div>


        <div class="footer-col footer-right">
            <div class="footer-social">
                <a href="https://www.facebook.com" class="social-icon"><img src="/assets/socialmedia/facebook.png" alt="social"></a>
                <a href="https://www.tiktok.com" class="social-icon"><img src="/assets/socialmedia/tiktok.png" alt="social"></a>
                <a href="https://line.me" class="social-icon"><img src="/assets/socialmedia/line.png" alt="social"></a>
                <a href="https://www.instagram.com" class="social-icon"><img src="/assets/socialmedia/ig.png" alt="social"></a>
            </div>

            <div class="footer-copy">
                <p class="footer-copy">@ 2023 Ophtus All Rights Reserved</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom-note">
        ( For educational purposes only.  No copyright infringement intended. )
    </div>
</footer>