<!-- Navbar Admin -->

<header class="navbar" id="navbar">
    <div class="nav-inner">
        <!-- left side -->
        <div class="nav-left">
            <a href="/indexAdmin">
                <img src="/assets/logos/ophtus_logo.png" alt="OPHTUS" class="logo">
            </a>
        </div>
        <!-- center side -->
        <nav class="nav-center">
            <ul class="nav-menu">
                <li><a href="/product_management">Product Management</a></li>
                <li><a href="/User_account">User Account Management</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>
        <!-- right side -->
        <div class="nav-right">
            <a href="/logout" class="login-btn">
                <span class="user-icon">
                    <img src="/assets/icons/user.png" alt="User Icon">
                </span>
                <span>Logout</span>
            </a>
        </div>
    </div>
</header>