<!-- Navbar -->

<header class="navbar" id="navbar">
    <div class="nav-inner">
        <!-- left side -->
        <div class="nav-left">
            <a href="/">
                <img src="/assets/logos/ophtus_logo.png" alt="OPHTUS" class="logo">
            </a>
        </div>
        <nav class="nav-center">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Shop</a></li>
                <li><a href="/info">AboutUs</a></li>
                <li><a href="/lookbook">Style</a></li> <!-- ส่วนนี้คือสำหรับ public API -->
            </ul>
        </nav>
        <!-- right side -->
        <div class="nav-right">
            <button class="icon-btn" onclick="toggleSearch()">
                <img src="/assets/icons/search.jpg" alt="Search">
            </button>

            <a href="/cart" class="icon-btn">
                <img src="/assets/icons/cart.jpg" alt="Cart">
            </a>

            <a href="/login" class="login-btn">
                <span class="user-icon">
                    <img src="/assets/icons/user.png" alt="User Icon">
                </span>
                <span>Login</span>
            </a>
        </div>
    </div>
</header>
